In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','subu','Divya','yuvi','rithi','sangi'],'B':['one','two','three','one','three','two'], 'C':np.random.randint(5,size =6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

       A      B  C  D  E
0    sai    one  2  4  4
1   subu    two  2  2  1
2  Divya  three  1  3  0
3   yuvi    one  4  4  3
4  rithi  three  1  3  2
5  sangi    two  2  1  2

In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','poo','sub','yuvi','rithi','sangu','sai','poo'],'B':['one','two','three','one','three','two','one','two'],'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8)})
print(df)
df1=df.groupby('A', as_index=False)['C'].sum()
print(df1)

       A      B  C  D
0    sai    one  1  0
1    poo    two  4  3
2    sub  three  1  1
3   yuvi    one  4  4
4  rithi  three  4  2
5  sangu    two  2  0
6    sai    one  3  1
7    poo    two  1  2
       A  C
0    poo  5
1  rithi  4
2    sai  4
3  sangu  2
4    sub  1
5   yuvi  4

In [10]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['sai','poo','sub','yuvi','rithi','sangu','sai','poo'],'B':['one','two','three','one','three','two','one','two'],'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A','B'], as_index=False)['C','D'].sum()
print(df1)

       A      B  C  D
0    sai    one  3  2
1    poo    two  4  3
2    sub  three  1  3
3   yuvi    one  1  2
4  rithi  three  4  3
5  sangu    two  0  2
6    sai    one  1  2
7    poo    two  1  3
       A      B  C  D
0    poo    two  5  6
1  rithi  three  4  3
2    sai    one  4  4
3  sangu    two  0  2
4    sub  three  1  3
5   yuvi    one  1  2

C:\Users\REC\AppData\Local\Temp\ipykernel_8048\3740397019.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df.groupby(['A','B'], as_index=False)['C','D'].sum()

In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'category':['A','B','C','A','B','C'], 'sales':[100,200,150,150,130,200],'profit':[10,15,20,25,30,15]})
print("\n original data from\n",df)

 original data from
   category  sales  profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [2]:
df_grouped=df.groupby('category').agg({'sales':['sum','mean'],'profit':['sum','max']})
print(df_grouped)

         sales        profit
           sum   mean    sum max
category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20