In [25]:
import pandas as pd
pd.set_option('display.max_columns',2)
df=pd.read_excel("marksheet.xlsx")
print(df)

   Roll no.  ...   T&D
0         1  ...  53.0
1         2  ...  65.0
2         3  ...  33.0
3         4  ...  32.0
4         5  ...   NaN
5         6  ...  54.0
6         7  ...  23.0
7         8  ...  43.0
8         9  ...  43.0
9        10  ...  75.0

[10 rows x 6 columns]

In [30]:
k=df.fillna(method='pad')
print(k)

k.to_excell("marksheet.xlsx")

   Roll no.  ...   T&D
0         1  ...  53.0
1         2  ...  65.0
2         3  ...  33.0
3         4  ...  32.0
4         5  ...  32.0
5         6  ...  54.0
6         7  ...  23.0
7         8  ...  43.0
8         9  ...  43.0
9        10  ...  75.0

[10 rows x 6 columns]

AttributeError: 'DataFrame' object has no attribute 'to_excell'

In [32]:
k.drop(['T&D'], axis=1,inplace=True)
print(k)
k.to_excel("marksheet.xlsx")

   Roll no.  ...  EM 2
0         1  ...  63.0
1         2  ...  56.0
2         3  ...  53.0
3         4  ...  53.0
4         5  ...  76.0
5         6  ...  23.0
6         7  ...  75.0
7         8  ...  75.0
8         9  ...  65.0
9        10  ...  34.0

[10 rows x 5 columns]

In [35]:
print("\nDrop NaN row\n")
df=pd.read_excel("marksheet.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("marksheet.xlsx")

Drop NaN row

   Unnamed: 0  ...  EM 2
0           0  ...    63
1           1  ...    56
2           2  ...    53
3           3  ...    53
4           4  ...    76
5           5  ...    23
6           6  ...    75
7           7  ...    75
8           8  ...    65
9           9  ...    34

[10 rows x 6 columns]
   Unnamed: 0  ...  EM 2
0           0  ...    63
1           1  ...    56
2           2  ...    53
3           3  ...    53
4           4  ...    76
5           5  ...    23
6           6  ...    75
7           7  ...    75
8           8  ...    65
9           9  ...    34

[10 rows x 6 columns]

In [37]:
print("\n Replace value\n")
n=pd.read_excel("marksheet.xlsx")
print(n)
y=n.replace({88:90})
print(y)
y.to_excel("marksheet.xlsx")

 Replace value

   Unnamed: 0.1  ...  EM 2
0             0  ...    63
1             1  ...    56
2             2  ...    53
3             3  ...    53
4             4  ...    76
5             5  ...    23
6             6  ...    75
7             7  ...    75
8             8  ...    65
9             9  ...    34

[10 rows x 7 columns]
   Unnamed: 0.1  ...  EM 2
0             0  ...    63
1             1  ...    56
2             2  ...    53
3             3  ...    53
4             4  ...    76
5             5  ...    23
6             6  ...    75
7             7  ...    75
8             8  ...    65
9             9  ...    34

[10 rows x 7 columns]

In [38]:
df=pd.read_excel("marksheet.xlsx")
print(df)
print('\n Extract using isin() function \n')
new=df['DLC'].isin([50])
print(df[new])

   Unnamed: 0.2  ...  EM 2
0             0  ...    63
1             1  ...    56
2             2  ...    53
3             3  ...    53
4             4  ...    76
5             5  ...    23
6             6  ...    75
7             7  ...    75
8             8  ...    65
9             9  ...    34

[10 rows x 8 columns]

 Extract using isin() function

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0.1, Unnamed: 0, Roll no., Name, LICA, DLC, EM 2]
Index: []

[0 rows x 8 columns]